"*":
  "atom-ctags":
    autoBuildTagsWhenActive: true
    buildTimeout: 100000
    cmd: "/usr/local/bin/ctags"
    cmdArgs: "--exclude=node_modules"
    extraTagFiles: "tags"
  "atom-ide-ui":
    use:
      "atom-ide-diagnostics-ui": false
  "autocomplete-ctags":
    maximumTagFileSize: 200
  "autocomplete-ruby":
    rsensePath: "/Users/exchgr/.rbenv/shims/rsense"
  "base16-syntax":
    scheme: "Bright"
  "bracket-matcher": {}
  "color-picker":
    abbreviateValues: true
  core:
    closeEmptyWindows: false
    disabledPackages: [
      "local-config"
      "autocomplete-ctags"
      "symbols-view"
      "atom-ctags"
    ]
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "base16-syntax"
    ]
  "daylight-ui":
    layoutMode: "Compact"
  editor:
    fontFamily: "Inconsolata"
    fontSize: 13
    invisibles: {}
    lineHeight: 1.2
    scrollPastEnd: true
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "40b0852e-db07-47eb-88be-a78dee06666f"
  floobits:
    audioOnly: true
  "git-blame":
    columnWidth: 187
  "highlight-line":
    hideHighlightOnSelect: true
  "linter-rubocop":
    command: "rubocop -c config/lint/.ruby-style.yml"
  "linter-scss-lint":
    configName: "config/lint/.scss-style.yml"
  "linter-ui-default":
    panelHeight: 183
    showPanel: true
  "local-config":
    applyOnActivation: true
  "local-settings":
    configFilePath: ".atom"
  "platformio-ide-terminal":
    core:
      scrollback: 10000
    toggles:
      autoClose: true
      loginShell: false
      selectToCopy: false
  "project-plus": {}
  "ruby-test":
    rspecAllCommand: "rs rspec spec"
    rspecFileCommand: "rs rspec {relative_path}"
    rspecSingleCommand: "rs rspec {relative_path}:{line_number}"
  "vim-mode-plus":
    keymapPToPutWithAutoIndent: true
    keymapYToYankToLastCharacterOfLine: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
